* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

.container {
    max-width: 100%;
}


/*Camperas*/

.camperasContainer {
    width: 230px;
    height: 270px;
    position: absolute;
    margin: auto 10%;
    top: 15%;
}

.camperasContainer a img {
    width: 300px;
    height: 400px;
}

.camperasContainer h2 {
    color: white;
    position: absolute;
    top: 70%;
    left: 40%;
    font: 23px montserrat, sans-serif;
}


/*Pantalones*/

.pantalonesContainer {
    width: 230px;
    height: 270px;
    margin: auto 33%;
    position: absolute;
    top: 15%;
}

.pantalonesContainer img {
    width: 300px;
    height: 400px;
}

.pantalonesContainer h2 {
    color: white;
    position: absolute;
    top: 70%;
    left: 36%;
    font: 23px montserrat, sans-serif;
}

.campingContainer img {
    width: auto;
    height: 400px;
    margin: auto 56%;
    top: 15%;
    position: absolute;
    display: none;
}


/*Redes*/

.social {
    z-index: 2000;
    position: fixed;
    top: 30%;
    left: 0;
}

.social ul li a {
    display: inline-block;
    color: white;
    padding: 10px 15px;
    background: black;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}

.social ul li a:hover {
    padding: 10px 30px;
}


/*Media query*/