* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}
/*Camperas*/

.campera1 a img{
    width: 212px;
    height: 250px;
    position: absolute;
    left: 10%;
    top: 100px;
   
}

.campera2 a img{
    width: 220px;
    height: 250px;
    position: absolute;
    top: 100px;
    left: 26%;
}

.campera1 a img:hover{
    border: 1px solid black;
    
}

.campera2 a img:hover{
    border: 1px solid black;
}

/*Redes*/

.social {
    z-index: 2000;
    position: fixed;
    top: 30%;
    left: 0;

}

.social ul li a {
    display: inline-block;
    color: white;
    padding: 10px 15px;
    background: black;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}

.social ul li a:hover {
    padding: 10px 30px;

}
